*{
    margin:0;
    padding: 0;

}
body{
    min-height: 100vh;
    background-image: url(body.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    margin-top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.7);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    font-weight: 800;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
nav a:hover{
    background-color: rgba(255,255,255,0.7);
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 230px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter:blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-bar{
    display:none;
}

.glass-container{
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    font-weight: bold;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    height: 450px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
}
@media (max-width:800px) {
    .menu-bar{
        display: block;
    }
    .hideMobile{
        display: none;
    }
}
@media (max-width: 400px) {
    .sidebar{
        width: 100%;
    }
    .glass-container{
        overflow: hidden;
    }
}